section.digital-planet
  .container.digital-planet__container
    .digital-planet__content
      h1.digital-planet__title Digital Planet VR
        .digital-planet__text
          p.digital-planet__description Образовательный виртуальный планетарий в Новороссийске.
          p.digital-planet__description Познавательное приключение в мир звёзд и галактик.
      .digital-planet__buttons
        a.btn.digital-planet__link.digital-planet__link-order(href='#') Заказать
        a.btn.digital-planet__link.digital-planet__link-video(href='#') Видео
    .digital-planet__image-wrapper
      img.digital-planet__img(src=require('../../../assets/images/vr_kid.png'))