.digital-planet {
  height: 100vh;
  @include bgc-image('header-bg.jpg');

  @media screen and (max-width: toRem(459)) {
    background-image: url('../../../assets/images/header-bg-mobile.jpg');
  }

  &__container {
    padding-top: toRem(74);
  }

  &__title {
    margin-top: toRem(153);
    font-size: toRem(96);
    font-weight: 400;

    @media screen and (max-width: toRem(1099)) {
      font-size: toRem(76);
    }

    @media screen and (max-width: toRem(959)) {
      margin-top: toRem(135);
      font-size: toRem(56);
    }

    @media screen and (max-width: toRem(759)) {
      margin-top: toRem(115);
      font-size: toRem(36);
      text-align: center;
    }

    @media screen and (max-width: toRem(459)) {
      margin-top: toRem(90);
    }
  }

  &__text {
    margin-top: toRem(24);
    font-size: toRem(17);
    font-weight: 300;
    line-height: 1.5;

    @media screen and (max-width: toRem(759)) {
      font-size: toRem(15);
      text-align: center;
    }

    @media screen and (max-width: toRem(459)) {
      margin-top: toRem(20);
    }
  }

  &__buttons {
    margin-top: toRem(71);
    display: flex;
    column-gap: toRem(24);

    @media screen and (max-width: toRem(759)) {
      flex-direction: column;
      align-items: center;
      row-gap: toRem(12);
    }

    @media screen and (max-width: toRem(459)) {
      margin-top: toRem(50);
    }
  }

  &__link {
    @include btn(19, 18, 21, 0.63, toRem(3));

    &-order {
      max-width: toRem(238);
      width: 100%;
      @include btnIcon(toRem(11), 31, 31, 'order.svg');
      background-color: var(--brand);
    }

    &-video {
      max-width: toRem(201);
      width: 100%;
      @include btnBorder(3, var(--brand));
      @include btnIcon(toRem(11), 31, 31, 'play.svg');
    }

    @media screen and (max-width: toRem(859)) {
      max-width: toRem(207);
    }

    @media screen and (max-width: toRem(459)) {
      padding-top: toRem(15);
      padding-bottom: toRem(15);
    }
  }

  &__image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;

    @media screen and (max-width: toRem(1099)) {
      max-width: toRem(390);
    }

    @media screen and (max-width: toRem(959)) {
      max-width: toRem(320);
    }

    @media screen and (max-width: toRem(859)) {
      max-width: toRem(300);
    }

    @media screen and (max-width: toRem(759)) {
      display: none;
    }
  }
}