include ../_list-item

mixin list(className, boxName, list, btn)
  ul(class=`${className} ${boxName}__list`)
    each item in list
      if item.icon
        +listItem(className, item.link, item.text, btn, item.icon)
      else
        +listItem(className, item.link, item.text, btn)