.logo {
  transition: color 0.3s;
  margin-right: toRem(20);
  z-index: 10;

  &__link {
    display: flex;
    align-items: center;
    column-gap: toRem(15);
  }

  &__text {
    font-size: toRem(18);
    text-transform: uppercase;
    letter-spacing: toRem(0.72);

    @media screen and (max-width: toRem(1100)) {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
    color: var(--brand-brighter);
  }

  &__icon {
    width: toRem(28);
    height: toRem(28);
    background-image: url('src/assets/icons/logo.svg');
    transition: fill 0.3s;
  }

  &:hover .logo__icon {
    fill: var(--brand-brighter);
  }
}
