@import 'base/vars';
@import 'base/functions';
@import 'base/mixins';
@import 'fonts';
@import 'base/reset';
@import 'components';
@import 'modules';

body {
  min-width: toRem($min_width);
  font-family: $main_font;
  font-weight: 500;
  background-color: lightgray;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  font-weight: 700;
}

.container {
  max-width: toRem($max_width);
}
