@import 'base/vars';
@import "base/functions";
@import 'base/mixins';
@import 'fonts';
@import 'base/reset';
@import "components";
@import "modules";

body {
  font-family: $main_font;
  font-weight: 500;
  background-color: lightgray;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}