include ../../components/logo/_logo
- const {logo} = require('../../../data/logo.json');

header
    +logo('header', logo.text)
    nav.navigation.header__navigation
        include ../../components/menu/_menu