include ../../components/logo/_logo
include ../../components/menu/_menu
- const {logo} = require('../../../data/logo.json');
- const menu = [...require('../../../data/menu.json')];
- const order = [...require('../../../data/order.json')];
- const contacts = [...require('../../../data/contacts.json')];
- const socials = [...require('../../../data/socials.json')];

header.header
    nav.navigation.header__navigation
        +logo('header', logo.text)
        +menu('menu', 'header', menu)
        +menu('order', 'header', order)
        +menu('contacts', 'header', contacts)
        +menu('socials', 'header', socials)