include ../../components/logo/_logo
- const { logo } = require('../../../data/logo.json');
// - const socials = [...require('../../../data/socials.json')];

header.header
	.container.header__container
		nav.navigation.header__navigation
			+logo('header', logo.text)
			include ../../components/menu/_menu
			include ../../components/order/_order
			include ../../components/contacts/_contacts
			//+menu('socials', 'header', socials)
			include ../../components/burger/_burger
