.socials {
  display: none;
  column-gap: toRem(12);
  bottom: 10px;
  left: toRem(73);

  @media screen and (max-width: toRem(869)) {
    display: flex;
    margin-top: toRem(20);
    order: 4;
  }

  &__link {
    display: block;
    width: toRem(32);
    height: toRem(32);
  }

  &__link-facebook {
    @include pathIcon('facebook');
  }

  &__link-vk {
    @include pathIcon('vk');
  }
}