.socials {
  display: flex;
  position: absolute;
  column-gap: toRem(12);
  top: calc(100vh - 5rem);
  left: 0;

  @media screen and (max-width: toRem(869)) {
    position: static;
    margin-top: toRem(20);
    order: 4;
  }

  &__link {
    display: block;
    width: toRem(32);
    height: toRem(32);
  }

  &__link-facebook {
    @include pathIcon('facebook');
  }

  &__link-vk {
    @include pathIcon('vk');
  }
}